body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.box{
    /*width: 80%;
    max-width: 600px;*/
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    text-align:left;
  }
  
  /* Style the quiz title */
  h2 {
    font-size: 24px;
    color: rgb(0, 0, 0);
  }
  
  /* Style the quiz description */
  h4 {
    font-size: 14px;
    color: #777;
  }
  
  /* Style the question text */
  #question {
    font-size: 18px;
    margin-top: 20px;
  }
  
  #question img {
    max-width: 70%;
    height: auto;
    margin-bottom: 0px;
  }
  /* Style the answer choices container */
  .choices {
    display:flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
  }
  
  /* Style individual answer choice */
  .choices .choice {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .choices .choice:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Style the next button */
  #next-btn {
    margin-top: 20px;
    
    padding: 10px 20px;
    background-color: #0011ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #next-btn:hover {
    background-color: #2fd107;
    color: black;
  }





/*nav css copied from home page*/
body {
    background-color: rgba(212, 65, 245, 0.36);
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: black;
    color: white;
    padding: 16px 0;
    text-align: center;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.navbar-menu {
    display: flex;
}

.navbar-link,
.about {
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    
    transition: background-color 0.3s ease;
}

.about {
    margin-left: auto; /* Push "About Us" link to the right */
}

.navbar-link:hover,
.about:hover {
background-color: #7cd409; /*Darken the background on hover*/
border-radius: 10%;

}   



/* Media Queries for Responsive Design */

@media screen and (max-width: 768px) {
    .logo {
        font-size: large;
        padding-left: 50px;
    }

    .navbar-link{
        padding-left: 10px;
    }
    .about {
        padding-left: 50px;
    }

    #description {
        padding: 1% 2%;
    }
}
